@import "tailwindcss";
@import "./theme.css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #fbfbff;
  --foreground: #171717;

  --contrast: #000000;
  --convergent: #ffffff;

  --calm-50: #fcfcfc;
  --calm-100: #f5f5f5;
  --calm-200: #e5e5e5;
  --calm-300: #d4d4d4;
  --calm-400: #a3a3a3;
  --calm-500: #737373;
  --calm-600: #525252;
  --calm-700: #404040;
  --calm-800: #262626;
  --calm-900: #171717;
  --calm-950: #0f0f0f;

  --shadow-card: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --shadow-card-2: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.dark {
  --background: #2a2a2a;
  --foreground: #f0f0f5;

  --contrast: #ffffff;
  --convergent: #000000;

  --calm-50: #151515;
  --calm-100: #262626;
  --calm-200: #404040;
  --calm-300: #525252;
  --calm-400: #737373;
  --calm-500: #a3a3a3;
  --calm-600: #d4d4d4;
  --calm-700: #e5e5e5;
  --calm-800: #f5f5f5;
  --calm-900: #fbfbff;
  --calm-950: #ffffff;

  --shadow-card: rgba(255, 255, 255, 0.1) 0px 1px 3px 0px,
    rgba(255, 255, 255, 0.06) 0px 1px 2px 0px;
  --shadow-card-2: rgba(200, 200, 200, 0.25) 0px 2px 5px -1px,
    rgba(255, 255, 255, 0.3) 0px 1px 3px -1px;
}

html,
body {
  height: 100vh;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-contrast: var(--contrast);
  --color-convergent: var(--convergent);

  --color-calm-50: var(--calm-50);
  --color-calm-100: var(--calm-100);
  --color-calm-200: var(--calm-200);
  --color-calm-300: var(--calm-300);
  --color-calm-400: var(--calm-400);
  --color-calm-500: var(--calm-500);
  --color-calm-600: var(--calm-600);
  --color-calm-700: var(--calm-700);
  --color-calm-800: var(--calm-800);
  --color-calm-900: var(--calm-900);
  --color-calm-950: var(--calm-950);

  --color-brand-100: var(--brand-100);
  --color-brand-200: var(--brand-200);
  --color-brand-300: var(--brand-300);
  --color-brand-400: var(--brand-400);
  --color-brand-500: var(--brand-500);
  --color-brand-600: var(--brand-600);
  --color-brand-700: var(--brand-700);
  --color-brand-800: var(--brand-800);
  --color-brand-900: var(--brand-900);
  --color-brand-950: var(--brand-950);

  --color-success-100: var(--success-100);
  --color-success-200: var(--success-200);
  --color-success-300: var(--success-300);
  --color-success-400: var(--success-400);
  --color-success-500: var(--success-500);
  --color-success-600: var(--success-600);
  --color-success-700: var(--success-700);
  --color-success-800: var(--success-800);
  --color-success-900: var(--success-900);
  --color-success-950: var(--success-950);

  --color-danger-100: var(--danger-100);
  --color-danger-200: var(--danger-200);
  --color-danger-300: var(--danger-300);
  --color-danger-400: var(--danger-400);
  --color-danger-500: var(--danger-500);
  --color-danger-600: var(--danger-600);
  --color-danger-700: var(--danger-700);
  --color-danger-800: var(--danger-800);
  --color-danger-900: var(--danger-900);
  --color-danger-950: var(--danger-950);

  --color-info-100: var(--info-100);
  --color-info-200: var(--info-200);
  --color-info-300: var(--info-300);
  --color-info-400: var(--info-400);
  --color-info-500: var(--info-500);
  --color-info-600: var(--info-600);
  --color-info-700: var(--info-700);
  --color-info-800: var(--info-800);
  --color-info-900: var(--info-900);
  --color-info-950: var(--info-950);

  --color-warning-100: var(--warning-100);
  --color-warning-200: var(--warning-200);
  --color-warning-300: var(--warning-300);
  --color-warning-400: var(--warning-400);
  --color-warning-500: var(--warning-500);
  --color-warning-600: var(--warning-600);
  --color-warning-700: var(--warning-700);
  --color-warning-800: var(--warning-800);
  --color-warning-900: var(--warning-900);
  --color-warning-950: var(--warning-950);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* --font-sans: var(--font-poppins); */

  --shadow-card: var(--shadow-card);
  --shadow-card-2: var(--shadow-card-2);

  --animate-aurora: aurora 60s linear infinite;
  --animate-blink: blink 1s linear infinite;

  @keyframes aurora {
    from {
      background-position: 50% 50%, 50% 50%;
    }
    to {
      background-position: 350% 50%, 350% 50%;
    }
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    70% {
      opacity: 0;
    }
    85% {
      opacity: 0;
    }
    95% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}

* {
  /* color: var(--foreground); */
}

@keyframes wave {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes text-shimmer {
  0% {
    background-position: -200% center;
  }
  100% {
    background-position: 200% center;
  }
}
